---
layout: default
title: Heladería Yogú Pitalito Huila | Milkshake o malteadas con helado suave de YOGUR, CHOCOLATE, VAINILLA y MARACUYÁ
---
<header>

  <!-- Logo -->
  <a href="#" class="logo wow tada">
    <picture>
      <img sizes="(max-width: 1335px) 100vw, 1335px" srcset="
        img/name/name_200.png 200w,
        img/name/name_200.webp 200w,
        img/name/name_590.png 590w,
        img/name/name_590.webp 590w,
        img/name/name_1335.png 1335w" src="img/name/name_1335.webp" alt="Yogú - Helado de yogur">
    </picture>
  </a>

  <!-- Menú -->
  <nav class="nav">
    <label for="toggle">&#9776</label>
    <input type="checkbox" id="toggle" />
    <div class="menu">
      <a href="#nosotros">Heladería Yogú</a>
      <a href="#productos"><span>¡HELADOS!</span></a>
      <a href="#opiniones">Opiniones</a>
      <a href="#servicios">Servicios</a>
      <a href="#noticias">Noticias</a>
      <a href="#contacto">Contacto</a>
    </div>
  </nav>
</header>

<!-- Sección Hero -->
<section class="presentacion">
  <div class="hero">
    <h1>¿Helado de yogur? ¿Milkshake? ¿Chocolate?</h1>
    <h2>
      En nuestra heladería tendrás momentos DULCES y DELICIOSOS
    </h2>
  </div>
  {% include button.html %}
</section>

<!-- Sección Nosotros -->
<section id="nosotros" class="nosotros">
  <h2><i class="fas fa-business-time"></i> Conoce nuestros helados</h2>
  <picture>
    <img sizes="(max-width: 1280px) 100vw, 1280px" srcset="
          img/negocio/negocio_200.jpg 200w,
          img/negocio/negocio_471.jpg 471w,
          img/negocio/negocio_685.jpg 685w,
          img/negocio/negocio_1280.jpg 1280w" src="negocio_1280.jpg" alt="Heladería Yogú Pitalito">
  </picture>
  <article>
    <h3>Una heladería pensada en tí:</h3>
    <p>
      Está en Pitalito y buscas un lugar encantador, dónde pasar un buen y delicioso ratico a tu gusto. Quizás quieres
      meditar un
      ratico, escuchar música en buen lugar, compartir con alguien especial que sea tu pareja o tu familia completa,
      etc. También, buscas <strong>probar
        algo delicioso,</strong> con un sabor por el que valga la pena pagar, y <strong>que nos guste tanto que queramos
        regresar</strong> a ese lugar especial.
    </p>
    <p>
      Somos ese <strong>lugar especial.</strong> Un entorno muy agradable, que transmite familiaridad y descanso.
      Sobre
      todo, tenemos la dulzura y el sabor único que buscas. Es un "buen parche", "un lugar vacano", "superlindo",
      ese
      lugar "muy bueno" para disfrutar de helados únicos. Aquí en Pitalito, este es el lugar especial donde queremos
      atenderte.
    </p>
  </article>
  <div class="social">
    <a href="https://facebook.com/yogupitalito" target="_blank">
      <i class="fab fa-facebook"></i> Like
    </a>
    <p> @yogupitalito </p>
    <a href="https://instagram.com/yogupitalito" target="_blank">
      Like <i class="fab fa-instagram"></i>
    </a>
  </div>

</section>

<!-- Sección Productos -->
<section class="productos" id="productos">
  <h2><i class="fas fa-grin-hearts"></i> Nuestros deliciosos helados y bebidas</h2>
  <hr>
  <p class="wow pulse" data-wow-iteration="2">Cada helado tiene la fórmula única de Yogú.
    ¿Cuál te
    gustaría probar?</p>
  <div class="gallery" id="gallery">
    <div class="gallery-item wow flipInY">

      <picture>
        <img sizes="(max-width: 938px) 100vw, 938px" srcset="
            img/yogu1/yogu1_zl0nsg_c_scale,w_200.jpg 200w,
            img/yogu1/yogu1_zl0nsg_c_scale,w_383.jpg 383w,
            img/yogu1/yogu1_zl0nsg_c_scale,w_529.jpg 529w,
            img/yogu1/yogu1_zl0nsg_c_scale,w_649.jpg 649w,
            img/yogu1/yogu1_zl0nsg_c_scale,w_740.jpg 740w,
            img/yogu1/yogu1_zl0nsg_c_scale,w_826.jpg 826w,
            img/yogu1/yogu1_zl0nsg_c_scale,w_903.jpg 903w,
            img/yogu1/yogu1_zl0nsg_c_scale,w_929.jpg 929w,
            img/yogu1/yogu1_zl0nsg_c_scale,w_938.jpg 938w" src="img/yogu1/yogu1_zl0nsg_c_scale,w_938.jpg"
          alt="Malteada Yogú">
      </picture>

      <p> <strong>Malteada de helado suave</strong> con un delicioso sabor. Agrégale las texturas que te encantan en
        cada uno de sus
        complementos, a tu gusto.</p>
    </div>
    <div class="gallery-item wow flipInY">
      <picture>
        <img sizes="(max-width: 948px) 100vw, 948px" srcset="
            img/yogu2/yogu2_udpiff_c_scale,w_200.jpg 200w,
            img/yogu2/yogu2_udpiff_c_scale,w_384.jpg 384w,
            img/yogu2/yogu2_udpiff_c_scale,w_519.jpg 519w,
            img/yogu2/yogu2_udpiff_c_scale,w_648.jpg 648w,
            img/yogu2/yogu2_udpiff_c_scale,w_738.jpg 738w,
            img/yogu2/yogu2_udpiff_c_scale,w_827.jpg 827w,
            img/yogu2/yogu2_udpiff_c_scale,w_907.jpg 907w,
            img/yogu2/yogu2_udpiff_c_scale,w_946.jpg 946w,
            img/yogu2/yogu2_udpiff_c_scale,w_948.jpg 948w" src="img/yogu2/yogu2_udpiff_c_scale,w_948.jpg"
          alt="Limonadas Yogú">
      </picture>
      <p>¿Natural o cerezada? Nuestras <strong>limonadas</strong>, ¡frías y deliciosas!</p>
    </div>
    <div class="gallery-item wow flipInY">
      <picture>
        <img sizes="(max-width: 902px) 100vw, 902px" srcset="
            img/yogu3/yogu3_sgq0sq_c_scale,w_200.jpg 200w,
            img/yogu3/yogu3_sgq0sq_c_scale,w_339.jpg 339w,
            img/yogu3/yogu3_sgq0sq_c_scale,w_448.jpg 448w,
            img/yogu3/yogu3_sgq0sq_c_scale,w_548.jpg 548w,
            img/yogu3/yogu3_sgq0sq_c_scale,w_623.jpg 623w,
            img/yogu3/yogu3_sgq0sq_c_scale,w_706.jpg 706w,
            img/yogu3/yogu3_sgq0sq_c_scale,w_769.jpg 769w,
            img/yogu3/yogu3_sgq0sq_c_scale,w_831.jpg 831w,
            img/yogu3/yogu3_sgq0sq_c_scale,w_892.jpg 892w,
            img/yogu3/yogu3_sgq0sq_c_scale,w_900.jpg 900w,
            img/yogu3/yogu3_sgq0sq_c_scale,w_902.jpg 902w" src="img/yogu3/yogu3_sgq0sq_c_scale,w_902.jpg"
          alt="Copa de helado Yogú">
      </picture>
      <p>Las <strong>copas de helado suave</strong> son las preferidas. tiene las combinaciones únicas que buscas:
        chocolate, colores, frutos secos, óreo,
        chips, fresa, gelatto, light y ácida. ¡Querrás probarlas todas!</p>
    </div>
    <div class="gallery-item wow flipInY">
      <picture>
        <img sizes="(max-width: 1280px) 100vw, 1280px" srcset="
            img/yogu4/yogu4_bpqygs_c_scale,w_200.jpg 200w,
            img/yogu4/yogu4_bpqygs_c_scale,w_435.jpg 435w,
            img/yogu4/yogu4_bpqygs_c_scale,w_610.jpg 610w,
            img/yogu4/yogu4_bpqygs_c_scale,w_768.jpg 768w,
            img/yogu4/yogu4_bpqygs_c_scale,w_896.jpg 896w,
            img/yogu4/yogu4_bpqygs_c_scale,w_1001.jpg 1001w,
            img/yogu4/yogu4_bpqygs_c_scale,w_1103.jpg 1103w,
            img/yogu4/yogu4_bpqygs_c_scale,w_1212.jpg 1212w,
            img/yogu4/yogu4_bpqygs_c_scale,w_1279.jpg 1279w,
            img/yogu4/yogu4_bpqygs_c_scale,w_1280.jpg 1280w" src="img/yogu4/yogu4_bpqygs_c_scale,w_1280.jpg"
          alt="Brownie Caliente con helado Yogú">
      </picture>
      <p>Un delicioso contraste de temperaturas en un <strong>brownie caliente</strong>, con frutos secos y baño de
        chocolate. Todo
        coronado con delicioso helado Yogú.</p>
    </div>
    <div class="gallery-item wow flipInY">
      <picture>
        <img sizes="(max-width: 1280px) 100vw, 1280px" srcset="
            img/yogu5/yogu5_wtqr7i_c_scale,w_200.jpg 200w,
            img/yogu5/yogu5_wtqr7i_c_scale,w_481.jpg 481w,
            img/yogu5/yogu5_wtqr7i_c_scale,w_705.jpg 705w,
            img/yogu5/yogu5_wtqr7i_c_scale,w_841.jpg 841w,
            img/yogu5/yogu5_wtqr7i_c_scale,w_948.jpg 948w,
            img/yogu5/yogu5_wtqr7i_c_scale,w_1067.jpg 1067w,
            img/yogu5/yogu5_wtqr7i_c_scale,w_1166.jpg 1166w,
            img/yogu5/yogu5_wtqr7i_c_scale,w_1254.jpg 1254w,
            img/yogu5/yogu5_wtqr7i_c_scale,w_1276.jpg 1276w,
            img/yogu5/yogu5_wtqr7i_c_scale,w_1280.jpg 1280w" src="img/yogu5/yogu5_wtqr7i_c_scale,w_1280.jpg"
          alt="Cerveza michelada Yogú">
      </picture>
      <p>¿Una <strong>cerveza michelada</strong> para un día caluroso? ¿Y te la imaginas con el toque del mango biche?
        Tienes que
        probarla.</p>
    </div>
    <div class="gallery-item wow flipInY">
      <picture>
        <img sizes="(max-width: 1280px) 100vw, 1280px" srcset="
            img/yogu6/yogu6_qzbkto_c_scale,w_200.jpg 200w,
            img/yogu6/yogu6_qzbkto_c_scale,w_443.jpg 443w,
            img/yogu6/yogu6_qzbkto_c_scale,w_619.jpg 619w,
            img/yogu6/yogu6_qzbkto_c_scale,w_781.jpg 781w,
            img/yogu6/yogu6_qzbkto_c_scale,w_894.jpg 894w,
            img/yogu6/yogu6_qzbkto_c_scale,w_1012.jpg 1012w,
            img/yogu6/yogu6_qzbkto_c_scale,w_1111.jpg 1111w,
            img/yogu6/yogu6_qzbkto_c_scale,w_1214.jpg 1214w,
            img/yogu6/yogu6_qzbkto_c_scale,w_1279.jpg 1279w,
            img/yogu6/yogu6_qzbkto_c_scale,w_1280.jpg 1280w" src="img/yogu6/yogu6_qzbkto_c_scale,w_1280.jpg"
          alt="Milkshake con helado Yogú">
      </picture>
      <p><strong>Milkshake</strong>. Son nuestras estrellas para las fotografías con tus amigos o familia. Helados
        suaves en malteada, super
        decorado con toda la dulzura que tu paladar soñó juntar en un solo producto. </p>
    </div>
  </div>
</section>

<!-- Testimonios -->
<section class="opiniones" id="opiniones">
  <h2><i class="fas fa-comments"></i> ¿Ya visitaste <span>Yogú</span>?</h2>
  <hr>
  <p class="explanation">Todos nuestros clientes concuerdan: probar un <strong>helado Yogú es toda una experiencia
      que querrás repetir.</strong></p>
  <div class="testimonial-slider">
    <ul class="slider">
      {% for opinion in site.data.opinions %}
      <li>
        <div class="testimonial-slider-content">
          <q>{{ opinion.calificacion }}</q>
          <p class="source">- {{ opinion.fuente }}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

<!-- Características de Yogú -->
<section class="parallax" id="servicios">
  <div class="caracteristicas">
    {% for service in site.data.services %}
    <article>
      <i class="{{ service.icon }}"></i>
      <h3>{{ service.title }}</h3>
      <p>{{ service.description }}</p>
    </article>
    {% endfor %}
  </div>
</section>

<!-- Llamado a la acción -->
<section class="invitacion">
  <article>
    <p>Tú también puedes vivir tu propia experiencia, con el <strong>SABOR ÚNICO</strong> de nuestro helado suave. ¿Ya
      los probaste? ¿Y
      si vienes hoy? Podrás pasar un buen rato con quienes más te gustaría, disfruntando de un buen <strong>HELADO
        YOGÚ.</strong>
    </p>
    {% include button.html %}
  </article>
</section>

<!-- Entradas del Blog -->
<section class="noticias" id="noticias">
  <h2><i class="fas fa-newspaper"></i> Entérate de lo último</h2>
  <hr>
  <p>Sigue los eventos y las promociones de tu heladería <span>Yogú</span> preferida.</p>
  <div>
    <article class="wow slideInLeft">
      <picture>
        <img class="imgblog" sizes="(max-width: 1280px) 100vw, 1280px" srcset="
            img/yogus/yogus_200.jpg 200w,
            img/yogus/yogus_379.jpg 379w,
            img/yogus/yogus_523.jpg 523w,
            img/yogus/yogus_648.jpg 648w,
            img/yogus/yogus_758.jpg 758w,
            img/yogus/yogus_866.jpg 866w,
            img/yogus/yogus_1042.jpg 1042w,
            img/yogus/yogus_1280.jpg 1280w" src="img/yogus/yogus_1280.jpg" alt="Helado de yogur suave Yogú">
      </picture>
      <div class="entrada">
        <h3>
          Iniciamos actividades en Pitalito.
        </h3>
        <p>
          Ya comenzó nuestro servicio especial para la ciudad de Pitalito. Tenemos sorpresas y productos únicos
          tenemos para ti.</p>
        <p>
          Puedes <a
            href="
             https://www.google.com/maps/embedpb=!1m18!1m12!1m3!1d3987.7253404153985!2d-76.04846608472604!3d18559342602561204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f131!3m3!1m2!1s0x8e250b902d01acf1%3A0xa58bafbc34691367!2zWW9nw7o!5e0!3m!1ses!2sco!4v1557794139487!5m2!1ses!2sco"
            target="_blank">visitarnos en nuestra heladería</a> de <strong>TODOS LOS DÍAS DE LA SEMANA</strong>. Estamos
          atendiendo desde las 11 de la mañana hasta las 8 de la noche. Los fines de semana y los días festivos,
          atendemos hasta las 9 de la noche.
        </p>
      </div>
    </article>
    <article class="wow slideInLeft">
      <picture>
        <img class="imgblog" sizes="(max-width: 1280px) 100vw, 1280px" srcset="
            img/yogucopa/yogucopa_190.jpg 190w,
            img/yogucopa/yogucopa_331.jpg 331w,
            img/yogucopa/yogucopa_450.jpg 450w,
            img/yogucopa/yogucopa_559.jpg 559w,
            img/yogucopa/yogucopa_774.jpg 774w,
            img/yogucopa/yogucopa.png 1280w" src="img/yogucopa/yogucopa.jpg" alt="Copa de helado de Yogú">
      </picture>
      <div class="entrada">
        <h3>
          Estamos estrenando fórmula.
        </h3>
        <p>
          Ya tenemos fórmulas especiales para los sabores de <strong>CHOCOLATE, VAINILLA Y MARACUYÁ</strong>. Además, ya
          tenemos el super adicional de minichips. ¿Qué esperas para probarlos?
        </p>
      </div>
    </article>
    <article class="wow slideInLeft">
      <picture>
        <img class="imgblog" sizes="(max-width: 774px) 100vw, 774px" srcset="
          img/milkshake_yogu/milkshake_yogu_zwsuge_c_scale,w_200.jpg 200w,
          img/milkshake_yogu/milkshake_yogu_zwsuge_c_scale,w_365.jpg 365w,
          img/milkshake_yogu/milkshake_yogu_zwsuge_c_scale,w_497.jpg 497w,
          img/milkshake_yogu/milkshake_yogu_zwsuge_c_scale,w_621.jpg 621w,
          img/milkshake_yogu/milkshake_yogu_zwsuge_c_scale,w_774.jpg 774w"
          src="img/milkshake_yogu/milkshake_yogu_zwsuge_c_scale,w_774.jpg" alt="Milkshake Yogú">
      </picture>

      <div class="entrada">
        <h3>
          Visita nuestras redes sociales.
        </h3>
        <p>
          Ya tenemos las redes sociales para <strong>Yogú Pitalito</strong>. Búscanos como @yogupitalito. Comparte tus
          fotos, como esta. O déjanos tus opiniones, calificaciones, sugerencias, etc.
        </p>
        <li><i class="fab fa-facebook"></i><a href="https://fb.me/yogupitalito" target="_blank"> @yogupitalito</a>
        </li>
        <li><i class="fab fa-instagram"></i><a href="https://instagram.com/yogupitalito" target="_blank">
            @yogupitalito</a></li>
      </div>
    </article>
  </div>
</section>

<!-- contacto -->
<section class="contacto wow slideInDown" data-wow-delay="0.4s" id="contacto">
  <h2><i class="fas fa-comment-dots"></i> Ya estamos en Pitalito y queremos servirte</h2>
  <div class="informacion">
    <div class="formulario">
      <p>¿Quieres reservar o hacer alguna solicitud?</p>
      <form action="https://formspree.io/francojuliancho@gmail.com" method="POST">
        <div>
          <div><input type="text" name="name" id="name" placeholder="Nombre" /></div>
          <div><input type="email" name="_replyto" id="email" placeholder="Email" /></div>
          <div><textarea name="message" id="message" placeholder="Mensaje" rows="4"></textarea></div>
          <div>
            <ul>
              <li><input class="boton-contacto" type="submit" value="Envía tu mensaje" /></li>
            </ul>
          </div>
        </div>
      </form>
    </div>
    <div class="datos">
      <h3>Contacto:</h3>
      <ul>
        <li><i class="fas fa-street-view"></i> Calle 10 7-53, Pitalito Huila</li>
        <li><i class="fas fa-phone"></i><a href="tel:+573203929160" target="_blank"> (+57) 321 447 4230 </a></li>
        <li><i class="fab fa-facebook"></i><a href="https://fb.me/yogupitalito" target="_blank"> @yogupitalito</a>
        </li>
        <li><i class="fab fa-instagram"></i><a href="https://instagram.com/yogupitalito" target="_blank">
            @yogupitalito</a></li>
        <li><i class="fas fa-mail-bulk"></i><a href="mailto:hola@yogu.com.co" target="_blank"> hola@yogu.com.co</a>
        </li>
      </ul>
    </div>
    <div class="mapa">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3987.7253404153985!2d-76.04846608472604!3d1.8559342602561204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e250b902d01acf1%3A0xa58bafbc34691367!2zWW9nw7o!5e0!3m2!1ses!2sco!4v1557794139487!5m2!1ses!2sco"
        width="450" height="320" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</section>